.navigation {
    align-self: center;;
}

.logo {
    width: 10vw;
    height: 10vw;
    padding-top: 1vh;
}

.navigation a:hover {
    color: #52528C;
    font-weight: bold;
}

.items {
    align-items: center;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border-bottom: 0.1vh solid black;
}

.navigation a {
    text-decoration: none;
    color: #1E2019;
}

@media (max-width: 1280px) {
    .navigation li {
        display: inline-flex;
        justify-content: center;
        font-family: inter;
        font-size: 2vw;
        width: 10vw;
    }
}

@media (min-width: 1280px) {
    .navigation li {
        display: inline-flex;
        justify-content: center;
        width: 10vw;
        font-family: inter;
        font-size: 1.4vw;
    }
}