.logo {
    width: 5vw;
    height: 5vw;
    padding: 1vw;
    margin-right: 10vw;
}

.navigation li {
    display: inline-flex;
    padding-right: 1vw;
}

.items {
    align-items: center;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.navigation a {
    text-decoration: none;
}
