.wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5vw 5vw 5vw 5vw 5vw auto 10vw;
    flex-grow: 1;
}

#reviewForm {
    grid-column: 1/2;
    grid-row: 6/7;
    display: grid;
    grid-template-columns: auto 5vw auto 5vw auto;
    grid-template-rows: 5vw 3vw 20vw 3vw 5vw;
}

#name:hover {
    border: 2px solid #52528C;
    background-color: #FCFAF9;
    border-radius: 5px;
}

#message:hover {
    border: 2px solid #52528C;
    background-color: #FCFAF9;
    border-radius: 5px;
}

#submitForm:hover {
    border: 2px solid #1E2019;
    background-color: #52528C;
    color: #FCFAF9;
}

@media(max-width: 1080px) {
    .title {
        grid-column: 1/2;
        grid-row: 2/3;
        font-family: inter;
        font-size: 2.2em;
        text-align: center;
    }

    .description {
        grid-column: 1/2;
        grid-row: 4/5;
        font-family: inter;
        font-size: 1em;
        text-align: center;
        line-height: 3vh;
    }
    #submitForm {
        grid-column: 1/2;
        grid-row: 5/6;
        font-family: inter;
        font-size: 1.2em;
        border-radius: 10px;
        border: 2px solid #52528C;
        background-color:#FCFAF9;
    }
    #name {
        background-color: #FCFAF9;
        border: 1px solid #1E2019;
        grid-column: 3/4;
        grid-row: 1/2;
        font-family: inter;
        font-size: 1em;
        padding: 1vw;
        border-radius: 5px;
    }

    #rating {
        grid-column: 5/6;
        grid-row: 1/2;
        padding: 1vw;
    }

    #projectSelector {
        grid-column: 1/2;
        grid-row: 1/2;
        border-radius: 5px;
    }

    #message {
        background-color: #FCFAF9;
        border: 1px solid #1E2019;
        grid-column: 1/6;
        grid-row: 3/4;
        font-family: inter;
        font-size: 1em;
        padding: 1vw;
        resize: none;
        border-radius: 5px;
    }
}

@media(min-width: 1080px) {
    .title {
        grid-column: 1/2;
        grid-row: 2/3;
        font-family: inter;
        font-size: 2.6vw;
        text-align: center;
    }

    .description {
        grid-column: 1/2;
        grid-row: 4/5;
        font-family: inter;
        font-size: 1.3em;
        text-align: center;
        line-height: 3vh;
    }
    #submitForm {
        grid-column: 1/2;
        grid-row: 5/6;
        font-family: inter;
        font-size: 1.1vw;
        border-radius: 10px;
        border: 2px solid #52528C;
        background-color:#FCFAF9;
    }
    #name {
        background-color: #FCFAF9;
        border: 1px solid #1E2019;
        grid-column: 3/4;
        grid-row: 1/2;
        font-family: inter;
        font-size: 1vw;
        padding: 1vw;
        border-radius: 5px;
    }

    #projectSelector {
        grid-column: 1/2;
        grid-row: 1/2;
        border-radius: 5px;
    }

    #rating {
        grid-column: 5/6;
        grid-row: 1/2;
        font-size: 3em;
    }

    #message {
        background-color: #FCFAF9;
        border: 1px solid #1E2019;
        grid-column: 1/6;
        grid-row: 3/4;
        font-family: inter;
        font-size: 1vw;
        padding: 1vw;
        resize: none;
        border-radius: 5px;
    }
}

.secondary {
    grid-row: 7/8;
    grid-column: 3/4;
}

.warning {
    background: red !important;
    border-radius: 5px;
}