footer {
    background-color: #1E2019;
    width: 98%;
    display: inline-flex;
    padding: 1%;
}

footer p {
    width: 100%;
    font-family: inter;
    color: #FCFAF9;
    font-size: 1vw;
}

footer ul {
    margin: 0;
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    width: 80%;
    justify-content: right;
}

footer a {
    color: #FCFAF9;
    text-decoration: none;
}

footer li {
    padding-right: 2vw;
    font-family: inter;
    font-size: 1vw;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #FCFAF9;
    display: flex;
    flex-direction: column;
}