.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vw auto 5vw;
}

.title {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: inter;
}

.projects {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: auto;
    grid-template-rows: 28% 8% 28% 8% 28%;
    margin-bottom: 1vw;
}

.showcase1 {
    display: grid;
    grid-template-columns: 55% 5% auto;
    grid-template-rows: 45% auto;
    grid-column: 1/2;
    grid-row: 1/2;
}

.showcase2 {
    display: grid;
    grid-template-columns: auto 5% 55%;
    grid-template-rows: 45% auto;
    grid-column: 1/2;
    grid-row: 3/4;
}

.showcase3 {
    display: grid;
    grid-template-columns: 55% 5% auto;
    grid-template-rows: 45% auto;
    grid-column: 1/2;
    grid-row: 5/6;
}

.showcase1 .showcaseimage, .showcase3 .showcaseimage {
    grid-column: 1/2;
    grid-row: 1/3;
}

.showcase2 .showcaseimage {
    grid-column: 3/4;
    grid-row: 1/3;
}

.showcase1 .showcasetitle, .showcase3 .showcasetitle {
    grid-column: 3/4;
    grid-row: 1/2;
    align-content: end;
    font-family: inter;
}

.showcase2 .showcasetitle {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: right;
    align-content: end;
    font-family: inter;
}

.showcase1 .showcasedescription, .showcase3 .showcasedescription {
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: inter;
}

.showcase2 .showcasedescription {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: right;
    font-family: inter;
}

.showcaseimage {
    width: 100%;
    height: 100%;
}