.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vw auto 5vw;
}

.projects {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: auto;
    grid-template-rows: 28% 8% 28% 8% 28%;
    margin-bottom: 1vw;
}

.showcase1 {
    display: grid;
    grid-template-columns: 55% 5% auto;
    grid-template-rows: 45% auto;
    grid-column: 1/2;
    grid-row: 1/2;
}

.showcase2 {
    display: grid;
    grid-template-columns: auto 5% 55%;
    grid-template-rows: 45% auto;
    grid-column: 1/2;
    grid-row: 3/4;
}

.showcase3 {
    display: grid;
    grid-template-columns: 55% 5% auto;
    grid-template-rows: 45% auto;
    grid-column: 1/2;
    grid-row: 5/6;
}

.showcase1 .showcaseimage, .showcase3 .showcaseimage {
    grid-column: 1/2;
    grid-row: 1/3;
}

.showcase2 .showcaseimage {
    grid-column: 3/4;
    grid-row: 1/3;
}

.showcaseimage {
    width: 100%;
    height: 100%;
}

@media (max-width: 1080px) {    
    .title {
        grid-column: 1/2;
        grid-row: 1/2;
        font-family: inter;
        font-size: 3.3vw;
        text-align: center;
    }
    .showcase1 .showcasetitle, .showcase3 .showcasetitle {
        grid-column: 3/4;
        grid-row: 1/2;
        align-content: end;
        font-family: inter;
        font-size: 2.4vw;
    }

    .showcase2 .showcasetitle {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: right;
        align-content: end;
        font-family: inter;
        font-size: 2.7vw;
    }

    .showcase1 .showcasedescription, .showcase3 .showcasedescription {
        grid-column: 3/4;
        grid-row: 2/3;
        font-family: inter;
        font-size: 1.8vw;
    }

    .showcase2 .showcasedescription {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: right;
        font-family: inter;
        font-size: 1.8vw;
    }
}

@media (min-width: 1080px) {
    .title {
        grid-column: 1/2;
        grid-row: 1/2;
        font-family: inter;
        font-size: 2.2vw;
        text-align: center;
    }
    .showcase1 .showcasetitle, .showcase3 .showcasetitle {
        grid-column: 3/4;
        grid-row: 1/2;
        align-content: end;
        font-family: inter;
        font-size: 2.2vw;
    }

    .showcase2 .showcasetitle {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: right;
        align-content: end;
        font-family: inter;
        font-size: 2.2vw;
    }

    .showcase1 .showcasedescription, .showcase3 .showcasedescription {
        grid-column: 3/4;
        grid-row: 2/3;
        font-family: inter;
        font-size: 1vw;
    }

    .showcase2 .showcasedescription {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: right;
        font-family: inter;
        font-size: 1vw;
    }
}